<div class="container">
    <div class="pull-right col-md-4">
        <nav>
            <ul class="pull-right list-group">
                <li>
                    <a>  <i class="fa fa-home" aria-hidden="true"></i> Home</a>  
                </li>
                <li>
                    <a><i class="fa fa-home" aria-hidden="true"></i> Login</a>
                </li>
                <li>
                    <a><i class="fa fa-home" aria-hidden="true"></i> Sign Up</a>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="nav-bar">
        
    </nav>
</div>